.cell {
    width: 40px;
    height: 40px;
    font-size: 30px;
    border: 1px solid transparent;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.cell:nth-child(1), .cell:nth-child(2) {
    border-right-color: black;
}

.row:nth-child(1) .cell, .row:nth-child(2) .cell {
    border-bottom-color: black;
}
#board-game {
    display: table;
}
.row {
    display: table-row;
}
